force-app/main/default/flows/Account_Next_Client_Meeting_Task_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Single_Task_Owner</name>
        <label>Assign Single Task Owner</label>
        <locationX>490</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>varSingleTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Members.UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxComments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Next Meeting Tasks</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Tasks_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_task_to_Account_Owner</name>
        <label>Assign task to Account Owner</label>
        <locationX>666</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>varSingleTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxComments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Next Meeting Tasks</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Task_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_to_Collection</name>
        <label>Assign Task to Collection</label>
        <locationX>666</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>varTaskstoCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Tasks_to_Collection</name>
        <label>Assign Tasks to Collection</label>
        <locationX>490</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>varTaskstoCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Members</targetReference>
        </connector>
    </assignments>
    <description>Creates a task for the IVS Owner, VBS Owner, and Patient Portion Owner Account Team members 2 days before the Client Meeting Date.</description>
    <environments>Default</environments>
    <formulas>
        <name>fxComments</name>
        <dataType>String</dataType>
        <expression>&quot;Description- Reminder to gather topics for the monthly meeting with this client and create an agenda for the monthly call.  1.  Review agenda in internal client notes to ensure that everything has been captured that you need to discuss with the client.  2.  Create and assign task to your lead 24 hours to the meeting to review your agenda.  3.  Send confirmation email reminder to the office to remind them of the meeting 24 hours before the meeting (If VB/ IV client VBS send email reminder).  4.  Capture notes from the meeting in the internal client notes Recap section during the meeting.  5.  Copy and paste these notes into the meeting Recap OFT and send the recap to the client, lead, Manger, and Director of Dental Operations. (If VB/ IV client VBS send recap)&quot;</expression>
    </formulas>
    <interviewLabel>Account: Next Client Meeting Task Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account: Next Client Meeting Task Creation</label>
    <loops>
        <name>Loop_Through_Members</name>
        <label>Loop Through Members</label>
        <locationX>402</locationX>
        <locationY>384</locationY>
        <collectionReference>Get_Account_Team_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Single_Task_Owner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Tasks</name>
        <label>Create Tasks</label>
        <locationX>402</locationX>
        <locationY>792</locationY>
        <connector>
            <targetReference>Update_Account_Scheduled_Checkbox</targetReference>
        </connector>
        <inputReference>varTaskstoCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Team_Members</name>
        <label>Get Account Team Members</label>
        <locationX>402</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Members</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_task_to_Account_Owner</targetReference>
        </faultConnector>
        <filterLogic>1 AND (2 or 3 or 4)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IVS Owner</stringValue>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VBS Owner</stringValue>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Patient Portion Owner</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Scheduled_Checkbox</name>
        <label>Update Account Scheduled Checkbox</label>
        <locationX>402</locationX>
        <locationY>900</locationY>
        <inputAssignments>
            <field>Client_Meeting_Task_Automation_Scheduled__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Scheduled_Checkbox</name>
        <label>Update Scheduled Checkbox</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <inputAssignments>
            <field>Client_Meeting_Task_Automation_Scheduled__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Scheduled_Checkbox</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Termination_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Client_Meeting_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X2_days_prior_to_Client_Meeting</name>
            <connector>
                <targetReference>Get_Account_Team_Members</targetReference>
            </connector>
            <label>2 days prior to Client Meeting</label>
            <offsetNumber>-2</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Client_Meeting_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varSingleTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varTaskstoCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
