force-app/main/default/flows/Daily_PMT_Auto_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <description>account does not have a termination date</description>
        <name>Active_Account</name>
        <label>Active Account?</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.Service_Termination_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Daily_PMT</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Only run Mon-Fri</description>
        <name>Is_it_a_weekday</name>
        <label>Is it a weekday?</label>
        <locationX>380</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fxWeekday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Runs evening before at 9pm PST</description>
        <name>Date</name>
        <dataType>Date</dataType>
        <expression>TODAY()+1</expression>
    </formulas>
    <formulas>
        <description>formula, only run monday-friday</description>
        <name>fxWeekday</name>
        <dataType>Boolean</dataType>
        <expression>IF(
 and(
  weekday({!$Flow.CurrentDate}) != 1,
  weekday({!$Flow.CurrentDate}) != 7
 ),
 true, false)</expression>
    </formulas>
    <interviewLabel>Daily PMT Auto Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Daily PMT Auto Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create daily PMT record for active clients</description>
        <name>Daily_PMT</name>
        <label>Daily PMT</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PMT_Date__c</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <object>PMT__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_it_a_weekday</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>005Dp00000452YtIAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dayton Dental</stringValue>
            </value>
        </filters>
        <object>PMT__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-01-03</startDate>
            <startTime>21:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>AccountOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Dentalofficeaccountname</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
