force-app/main/default/flows/PSB_Submission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_to_Sum_Variable</name>
        <label>Add to Sum Variables</label>
        <locationX>798</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Sum_Patient_Calls_Completed</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentLoop.Patient_Calls_Completed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sum_Balance_Input_on_Appointment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentLoop.Patient_Balances_Added__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sum_Patient_Statements_Sent</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentLoop.Patient_Statements_Sent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sum_EBS_Patient_Revenue_Posted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentLoop.EBS_Patient_Revenue_Posted__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NOSSumPatientCallsCompleted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentLoop.NOS_Patient_Calls_Completed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NosSumBalanceInputonAppointment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentLoop.Balance_Input_on_Appointment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NOSSumPatientStatementsSent</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentLoop.NOS_Patient_Statements_Sent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SumNOSPatientRevenuePosted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentLoop.NOS_Patient_Revenue_Posted__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sum_Pre_Service_Accounts_Audited</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentLoop.Pre_Service_Accounts_Audited__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NOSinitialAccountAudited</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentLoop.NOS_Pre_Service_Accounts_Audited__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NosAccountReview</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentLoop.NOS_Account_Reviews__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EbsAccountReview</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentLoop.EBS_Account_Reviews__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>currentLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Collection_PMT_variables</name>
        <label>Assign Collection PMT variables</label>
        <locationX>666</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>varTotalRev</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingTotalRev</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotCompleteBreakdowns</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingCompleteBreakdown</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalEligUpdates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingEligUpdates</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotUrgBreak</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingUrgBreakdown</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotUrgElig</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingUrgElig</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotErrNPU</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingErrNPU</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotErrPPL</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingErrPPL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMonth</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_PMTs.PMT_MonthText__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varYear</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_PMTs.YearText__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotAccAud</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingAccAud</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPtStSent</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingPtStSent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotMonTot</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingMonTot</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vartotalInitialAccountAudit</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varsingleInitialAccountAudit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalPatientCallsCompleted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PatientCallsCompleted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_PMTs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Last_Month_PMTs_to_collection_for_Loop</name>
        <label>Assign Last Month PMTs to collection for Loop</label>
        <locationX>842</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>varFilteredPMTs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_Last_Month_PMTs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_PMTs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PMT_Single_variables</name>
        <label>Assign PMT Single variables</label>
        <locationX>666</locationX>
        <locationY>2090</locationY>
        <assignmentItems>
            <assignToReference>varSingTotalRev</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxSingTotalRev</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingCompleteBreakdown</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxSingCompleteBreakdowns</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingEligUpdates</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxSingEligUpdates</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingUrgBreakdown</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxSingUrgentBreakdown</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingUrgElig</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxSingUrgentEligibility</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingErrNPU</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxSingErrorsNPU</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingErrPPL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxSingErrorsPPL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingAccAud</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxSingAccAud</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingPtStSent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxSingPtStSent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingMonTot</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxSingMonTot</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsingleInitialAccountAudit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxInitialAccountAudit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientCallsCompleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxPatientCallsCompleted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Collection_PMT_variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Prev_Month_PMTs_to_collection_for_Loop</name>
        <label>Assign Prev Month PMTs to collection for Loop</label>
        <locationX>314</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>varFilteredPMTs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_Prev_Month_PMTs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_PMTs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_This_Month_PMTs_to_collection_for_Loop</name>
        <label>Assign This Month PMTs to collection for Loop</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>varFilteredPMTs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_This_Month_PMTs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_PMTs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_This_Month_PMTs_to_collection_for_Loop_for_ISP</name>
        <label>Assign This Month PMTs to collection for Loop for ISP</label>
        <locationX>578</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>varFilteredPMTs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_This_Month_PMTS_ISP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_PMTs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>prevmonthassignment</name>
        <label>prevmonthassignment</label>
        <locationX>1150</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Sum_Balance_Input_on_Appointment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>prevmonthloop.Balance_Input_on_Appointment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sum_EBS_Patient_Revenue_Posted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>prevmonthloop.EBS_Patient_Revenue_Posted__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sum_Patient_Calls_Completed</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>prevmonthloop.Patient_Calls_Completed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sum_Patient_Statements_Sent</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>prevmonthloop.Patient_Statements_Sent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sum_Pre_Service_Accounts_Audited</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>prevmonthloop.Pre_Service_Accounts_Audited__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NosSumBalanceInputonAppointment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>prevmonthloop.NOS_Balance_Input_on_Appointment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SumNOSPatientRevenuePosted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>prevmonthloop.NOS_Patient_Revenue_Posted__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NOSSumPatientCallsCompleted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>prevmonthloop.NOS_Patient_Calls_Completed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NOSSumPatientStatementsSent</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>prevmonthloop.NOS_Patient_Statements_Sent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NOSinitialAccountAudited</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>prevmonthloop.NOS_Pre_Service_Accounts_Audited__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NosAccountReview</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>prevmonthloop.NOS_Account_Reviews__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EbsAccountReview</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>prevmonthloop.EBS_Account_Reviews__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>prevmonthloop</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>IVS</name>
        <choiceText>IVS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IVS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Last_Month</name>
        <choiceText>Last Month</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Last Month</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Patient_Portion</name>
        <choiceText>Patient Portion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Patient Portion</stringValue>
        </value>
    </choices>
    <choices>
        <name>This_Month</name>
        <choiceText>This Month</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>This Month</stringValue>
        </value>
    </choices>
    <choices>
        <name>VBS</name>
        <choiceText>VBS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VBS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Filter_Last_Month_PMTs</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Last Month PMTs</label>
        <locationX>842</locationX>
        <locationY>1682</locationY>
        <assignNextValueToReference>currentItem_Filter_Last_Month_PMTs</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>ISP2</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Last_Month_PMTs.PMT_Month__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>fxPrevMonth</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Last_Month_PMTs.PMT_Year__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>fxYearPrev</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_Last_Month_PMTs_to_collection_for_Loop</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Prev_Month_PMTs</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Prev Month PMTs</label>
        <locationX>314</locationX>
        <locationY>1682</locationY>
        <assignNextValueToReference>currentItem_Filter_Prev_Month_PMTs</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_PMTs</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Prev_Month_PMTs.PMT_Month__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>fxPrevMonth</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Prev_Month_PMTs.PMT_Year__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>fxYearPrev</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_Prev_Month_PMTs_to_collection_for_Loop</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_This_Month_PMTs</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter This Month PMTs</label>
        <locationX>50</locationX>
        <locationY>1682</locationY>
        <assignNextValueToReference>currentItem_Filter_This_Month_PMTs</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_PMTs</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_This_Month_PMTs.PMT_Month__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>fxMonth</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_This_Month_PMTs.PMT_Year__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>fxYear</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_This_Month_PMTs_to_collection_for_Loop</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_This_Month_PMTS_ISP</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter This Month PMTS ISP</label>
        <locationX>578</locationX>
        <locationY>1682</locationY>
        <assignNextValueToReference>currentItem_Filter_This_Month_PMTS_ISP</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>ISP2</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_This_Month_PMTS_ISP.PMT_Month__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>fxMonth</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_This_Month_PMTS_ISP.PMT_Year__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>fxYear</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_This_Month_PMTs_to_collection_for_Loop_for_ISP</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Allowed_Service_Type</name>
        <label>Allowed Service Type</label>
        <locationX>974</locationX>
        <locationY>1466</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Generate_PSB</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_has_this_service_type</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Dental_Office.Service_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Type_of_PSB</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getoffice.Service_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Type_of_PSB</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_month</targetReference>
            </connector>
            <label>Account has this service type</label>
        </rules>
    </decisions>
    <decisions>
        <name>image_Specilatity_Partner</name>
        <label>image Specilatity Partner</label>
        <locationX>1304</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Dental_Office</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ISP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001Um00000N4rV7IAJ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getoffice</targetReference>
            </connector>
            <label>ISP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_the_flow</name>
        <label>Open the flow</label>
        <locationX>1304</locationX>
        <locationY>1250</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_generate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceGenerate_a_PSB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_PSB</targetReference>
            </connector>
            <label>Yes generate</label>
        </rules>
    </decisions>
    <decisions>
        <name>thismonth</name>
        <label>thismonth</label>
        <locationX>1018</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>thismonths</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Months</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>This_Month</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ISP2</targetReference>
            </connector>
            <label>thismonths</label>
        </rules>
        <rules>
            <name>prevmonths</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Months</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Last_Month</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getrecordprevmonth</targetReference>
            </connector>
            <label>prevmonths</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_month</name>
        <label>Which month?</label>
        <locationX>578</locationX>
        <locationY>1574</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_This_Month</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_for_which_month</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>This_Month</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_This_Month_PMTs</targetReference>
            </connector>
            <label>Selected This Month</label>
        </rules>
        <rules>
            <name>Selected_Last_Month</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_for_which_month</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Last_Month</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Prev_Month_PMTs</targetReference>
            </connector>
            <label>Selected Last Month</label>
        </rules>
        <rules>
            <name>Selected_This_Month_ISP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_for_which_month</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>This_Month</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_This_Month_PMTS_ISP</targetReference>
            </connector>
            <label>Selected This Month ISP</label>
        </rules>
        <rules>
            <name>Selected_Last_Month_ISP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_for_which_month</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Last_Month</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Last_Month_PMTs</targetReference>
            </connector>
            <label>Selected Last Month ISP</label>
        </rules>
    </decisions>
    <description>update fx for IVS</description>
    <environments>Default</environments>
    <formulas>
        <name>fxAccSvcTypes</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES ( {!Get_Dental_Office.Service_Type__c} , &quot;IVS&quot; ), &quot;IVS |  &quot;,null ) &amp;
IF ( INCLUDES (  {!Get_Dental_Office.Service_Type__c} , &quot;IVS - AP&quot; ), &quot;IVS |  &quot;,null ) &amp;
IF ( INCLUDES (  {!Get_Dental_Office.Service_Type__c} , &quot;IVS - NP Only&quot; ), &quot;IVS |  &quot;,null ) &amp;
IF ( INCLUDES (  {!Get_Dental_Office.Service_Type__c} , &quot;VBS&quot; ), &quot;VBS |  &quot;,null ) &amp;
IF ( INCLUDES (  {!Get_Dental_Office.Service_Type__c} , &quot;Patient Portion&quot; ), &quot;Patient Portion&quot;, null )  &amp;
IF ( INCLUDES (  {!getoffice.Service_Type__c} , &quot;Patient Portion&quot; ), &quot;Patient Portion&quot;, null )</expression>
    </formulas>
    <formulas>
        <name>fxInitialAccountAudit</name>
        <dataType>Number</dataType>
        <expression>IF(
{!Type_of_PSB} = &quot;Patient Portion&quot; ,
{!Loop_PMTs.Pre_Service_Accounts_Audited__c},
0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fxMonth</name>
        <dataType>Number</dataType>
        <expression>MONTH({!$Flow.CurrentDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fxPatientCallsCompleted</name>
        <dataType>Number</dataType>
        <expression>IF(
{!Type_of_PSB} = &quot;Patient Portion&quot;,
{!Loop_PMTs.Patient_Calls_Completed__c},
0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fxPrevMonth</name>
        <dataType>Number</dataType>
        <expression>IF(     MONTH({!$Flow.CurrentDate}) = 1,     12,
    MONTH({!$Flow.CurrentDate}) - 1 )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fxPSBName</name>
        <dataType>String</dataType>
        <expression>{!Get_Dental_Office.Name} &amp; &apos; - &apos; &amp; {!Type_of_PSB} &amp; &apos; - &apos;  &amp; {!$User.FirstName}  &amp;&apos; &apos; &amp;{!$User.LastName} &amp; &apos; - &apos;  &amp; text({!$Flow.CurrentDateTime})</expression>
    </formulas>
    <formulas>
        <name>fxSingAccAud</name>
        <dataType>Number</dataType>
        <expression>IF(
  {!Type_of_PSB} = &quot;Patient Portion&quot;,
 {!Loop_PMTs.Pre_Service_Accounts_Audited__c}, 
  0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fxSingCompleteBreakdowns</name>
        <dataType>Number</dataType>
        <expression>IF(
  {!Type_of_PSB} = &quot;IVS&quot;,
  {!Loop_PMTs.Total_Complete_Breakdowns__c}, 
  0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fxSingEligUpdates</name>
        <dataType>Number</dataType>
        <expression>IF(
  {!Type_of_PSB} = &quot;IVS&quot;,
 {!Loop_PMTs.Total_Eligibility_Updates__c} , 
  0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fxSingErrorsNPU</name>
        <dataType>Number</dataType>
        <expression>IF(
  {!Type_of_PSB} = &quot;IVS&quot;,
  {!Loop_PMTs.Total_Errors_NPU__c} , 
  0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fxSingErrorsPPL</name>
        <dataType>Number</dataType>
        <expression>IF(
  {!Type_of_PSB} = &quot;IVS&quot;,
  {!Loop_PMTs.Total_Errors_PPL__c} , 
  0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fxSingMonTot</name>
        <dataType>Number</dataType>
        <expression>IF(
  {!Type_of_PSB} = &quot;IVS&quot;,
 {!fxSingCompleteBreakdowns} + {!fxSingUrgentBreakdown} + {!fxSingEligUpdates}+ {!fxSingUrgentEligibility} + {!fxSingErrorsNPU} + {!fxSingErrorsPPL}, 
  0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fxSingPtStSent</name>
        <dataType>Number</dataType>
        <expression>IF(
{!Type_of_PSB} = &quot;Patient Portion&quot;,
{!Loop_PMTs.Patient_Statements_Sent__c},
0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fxSingTotalRev</name>
        <dataType>Currency</dataType>
        <expression>IF(
  {!Type_of_PSB} = &quot;VBS&quot;,
  {!Loop_PMTs.Total_Insurance_Revenue__c}, 
  0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fxSingUrgentBreakdown</name>
        <dataType>Number</dataType>
        <expression>IF(
  {!Type_of_PSB} = &quot;IVS&quot;,
  {!Loop_PMTs.Total_Urgent_Complete_Breakdowns__c} , 
  0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fxSingUrgentEligibility</name>
        <dataType>Number</dataType>
        <expression>IF(
  {!Type_of_PSB} = &quot;IVS&quot;,
  {!Loop_PMTs.Total_Urgent_Eligibility_Breakdowns__c}, 
  0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fxYear</name>
        <dataType>Number</dataType>
        <expression>YEAR({!$Flow.CurrentDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fxYearPrev</name>
        <dataType>Number</dataType>
        <expression>YEAR({!$Flow.CurrentDate})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>PSB - Submission {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PSB - Submission - test</label>
    <loops>
        <name>currentLoop</name>
        <label>currentLoop</label>
        <locationX>710</locationX>
        <locationY>674</locationY>
        <collectionReference>ISP2</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Sum_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Do_you_want_to_make_a_PSB</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_PMTs</name>
        <label>Loop PMTs</label>
        <locationX>578</locationX>
        <locationY>1982</locationY>
        <collectionReference>varFilteredPMTs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_PMT_Single_variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Confirm_Values_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>prevmonthloop</name>
        <label>prevmonthloop</label>
        <locationX>1062</locationX>
        <locationY>674</locationY>
        <collectionReference>getrecordprevmonth</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>prevmonthassignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Do_you_want_to_make_a_PSB</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_PSB</name>
        <label>Create PSB</label>
        <locationX>578</locationX>
        <locationY>2498</locationY>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Review__c</field>
            <value>
                <elementReference>EbsAccountReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complete_Breakdowns_CBs__c</field>
            <value>
                <elementReference>varTotCompleteBreakdowns</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EBS_Patient_Revenue_Posted__c</field>
            <value>
                <elementReference>Sum_EBS_Patient_Revenue_Posted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EBS_of_Appts_with_Balances__c</field>
            <value>
                <elementReference>Sum_Balance_Input_on_Appointment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eligibility_Updates__c</field>
            <value>
                <elementReference>varTotalEligUpdates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Month_of_Work_Completed__c</field>
            <value>
                <elementReference>varMonth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Total__c</field>
            <value>
                <elementReference>varTotMonTot</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NOS_Account_Review__c</field>
            <value>
                <elementReference>NosAccountReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NOS_Initial_Account_Audit__c</field>
            <value>
                <elementReference>NOSinitialAccountAudited</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NOS_Patient_Contacts_Completed__c</field>
            <value>
                <elementReference>NOSSumPatientCallsCompleted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NOS_Patient_Revenue_Posted__c</field>
            <value>
                <elementReference>SumNOSPatientRevenuePosted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NOS_Patient_Statements_Sent__c</field>
            <value>
                <elementReference>NOSSumPatientStatementsSent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NOS_of_Appts_with_Balances__c</field>
            <value>
                <elementReference>NosSumBalanceInputonAppointment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Info__c</field>
            <value>
                <elementReference>OtherInfoText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PSB_Name__c</field>
            <value>
                <elementReference>fxPSBName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient_Contacts_Completed__c</field>
            <value>
                <elementReference>Sum_Patient_Calls_Completed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient_Statements_Sent__c</field>
            <value>
                <elementReference>Sum_Patient_Statements_Sent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Practice_Name__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pre_Service_Accounts_Audited__c</field>
            <value>
                <elementReference>varTotAccAud</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Type__c</field>
            <value>
                <elementReference>Type_of_PSB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Errors_NPU__c</field>
            <value>
                <elementReference>varTotErrNPU</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Errors_PPL__c</field>
            <value>
                <elementReference>varTotErrPPL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Patient_Statements_Sent__c</field>
            <value>
                <elementReference>varPtStSent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Revenue_Posted_PMT__c</field>
            <value>
                <elementReference>varTotalRev</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Revenue_Posted_in_Client_Software__c</field>
            <value>
                <elementReference>Total_Revenue_Posted_in_Software</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Urgent_Complete_Breakdown__c</field>
            <value>
                <elementReference>varTotUrgBreak</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Urgent_Eligibility_Updates__c</field>
            <value>
                <elementReference>varTotUrgElig</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year_of_Work_Completed__c</field>
            <value>
                <elementReference>varYear</elementReference>
            </value>
        </inputAssignments>
        <object>PSB__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Dental_Office</name>
        <label>Get Dental Office</label>
        <locationX>1590</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PMTs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PMTs</name>
        <label>Get PMTs</label>
        <locationX>1590</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_you_want_to_make_a_PSB</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Dental_Office.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PMT__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getoffice</name>
        <label>getoffice</label>
        <locationX>1018</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Month</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getrecordprevmonth</name>
        <label>getrecordprevmonth</label>
        <locationX>1062</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>prevmonthloop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_entity__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Image Specialty Partners</stringValue>
            </value>
        </filters>
        <filters>
            <field>PMT_Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fxPrevMonth</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PMT__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ISP2</name>
        <label>ISP2</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>currentLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_entity__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Image Specialty Partners</stringValue>
            </value>
        </filters>
        <filters>
            <field>PMT_Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fxMonth</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PMT__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Confirm_Values_Screen</name>
        <label>Confirm Values Screen</label>
        <locationX>578</locationX>
        <locationY>2390</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_PSB</targetReference>
        </connector>
        <fields>
            <name>ExitandCorrecttext</name>
            <fieldText>&lt;p&gt;Please review the following information.  If any PMT information is incorrect, please exit the flow and review your PMT records.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirm_PSB_Info</name>
            <fieldText>Confirm PSB Info</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirm_PSB_Info_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayTotalRev</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Name: {!fxPSBName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!DentalOffice}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Type: {!Type_of_PSB}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Month of Work: {!varMonth}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Year of Work: {!varYear}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Confirm_IVS_Info</name>
            <fieldText>Confirm IVS Info</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirm_IVS_Info_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ConfirmIVSValues</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Complete Breakdowns: {!varTotCompleteBreakdowns}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Eligibility Updates:  {!varTotalEligUpdates}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Urgent Complete Breakdowns:  {!varTotUrgBreak}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Urgent Eligibility Updates:  {!varTotUrgElig}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Total Errors - NPU:  {!varTotErrNPU}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Total Errors - PPL: {!varTotErrPPL}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Monthly Total: {!varTotMonTot}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_of_PSB</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>IVS</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Confirm_VBS_Info</name>
            <fieldText>Confirm VBS Info</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirm_VBS_Info_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>VBSInfoDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Total Revenue Posted (PMT): {!varTotalRev}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Total_Revenue_Posted_in_Software</name>
                    <dataType>Currency</dataType>
                    <fieldText>Total Revenue Posted (in Software)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_of_PSB</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>VBS</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Confirm_Patient_Portion_Info</name>
            <fieldText>Confirm Patient Portion Info</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirm_Patient_Portion_Info_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PatientPortionDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Pre-Service Accounts Audited:  {!varTotAccAud}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Patient Statements Sent:  {!varPtStSent}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_of_PSB</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Patient Portion</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>recordId</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>001Um00000N4rV7IAJ</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Patient_Portion_info</name>
            <fieldText>Patient Portion info</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Patient_Portion_info_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PatientPortionDisplayTexts</name>
                    <fieldText>&lt;p&gt;Initial Audit Account :&lt;/p&gt;&lt;p&gt;{!Sum_Pre_Service_Accounts_Audited}&lt;/p&gt;&lt;p&gt;of Appts with balance :&lt;/p&gt;&lt;p&gt;{!Sum_Balance_Input_on_Appointment}&lt;/p&gt;&lt;p&gt;Patient Contact completed :&lt;/p&gt;&lt;p&gt;{!Sum_Patient_Calls_Completed}&lt;/p&gt;&lt;p&gt;EBS Account Review :&lt;/p&gt;&lt;p&gt;{!EbsAccountReview}&lt;/p&gt;&lt;p&gt;Patient Statement Sent :&lt;/p&gt;&lt;p&gt;{!Sum_Patient_Statements_Sent}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;EBS Patient Revenue Posted&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!Sum_EBS_Patient_Revenue_Posted}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;NOS PP PMT&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Nos Initial Audit Account :&lt;/p&gt;&lt;p&gt;{!NOSinitialAccountAudited}&lt;/p&gt;&lt;p&gt;Nos of Appts with balance :&lt;/p&gt;&lt;p&gt;{!Sum_Balance_Input_on_Appointment}&lt;/p&gt;&lt;p&gt;NOS Account Review :&lt;/p&gt;&lt;p&gt;{!NosAccountReview}&lt;/p&gt;&lt;p&gt;Nos Patient Contact completed :&lt;/p&gt;&lt;p&gt;{!NOSSumPatientCallsCompleted}&lt;/p&gt;&lt;p&gt;Nos Patient Statement Sent :&lt;/p&gt;&lt;p&gt;{!NOSSumPatientStatementsSent}&lt;/p&gt;&lt;p&gt;Nos Patient Revenue Posted&lt;/p&gt;&lt;p&gt;{!SumNOSPatientRevenuePosted}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>001Um00000N4rV7IAJ</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>OtherInfoHeader</name>
            <fieldText>Other Info</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>OtherInfoHeader_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AddNotesExplanation</name>
                    <fieldText>&lt;p&gt;Please add any other Information to explain any discrepancies or additional information&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>OtherInfoText</name>
                    <fieldText>Other Info</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Do_you_want_to_make_a_PSB</name>
        <label>Do you want to make a PSB?</label>
        <locationX>1304</locationX>
        <locationY>1142</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Open_the_flow</targetReference>
        </connector>
        <fields>
            <name>ChoiceGenerate_a_PSB</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Generate a PSB?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Generate_PSB</name>
        <label>Generate PSB</label>
        <locationX>974</locationX>
        <locationY>1358</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Allowed_Service_Type</targetReference>
        </connector>
        <fields>
            <name>Generate_a_PSB</name>
            <fieldText>Generate a PSB</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Generate_a_PSB_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DentalOffice</name>
                    <fieldText>&lt;p&gt;Dental Office: {!Get_Dental_Office.Name}&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!getoffice.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>PickEligibleType</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Only the following PSBs are available for this account&lt;/strong&gt;:&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!fxAccSvcTypes}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Type_of_PSB</name>
                    <choiceReferences>IVS</choiceReferences>
                    <choiceReferences>VBS</choiceReferences>
                    <choiceReferences>Patient_Portion</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type of PSB</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Generate_for_which_month</name>
                    <choiceReferences>This_Month</choiceReferences>
                    <choiceReferences>Last_Month</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Generate for which month?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Month</name>
        <label>Select Month</label>
        <locationX>1018</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>thismonth</targetReference>
        </connector>
        <fields>
            <name>Months</name>
            <choiceReferences>This_Month</choiceReferences>
            <choiceReferences>Last_Month</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Months</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Upload_Files</name>
        <label>Upload Files</label>
        <locationX>578</locationX>
        <locationY>2606</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>UploadFiles</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload PSB Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.png, .xls, .csv, .xlsx, .pdf</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Create_PSB</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1178</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>image_Specilatity_Partner</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Current_PMT_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PMT__c</objectType>
    </variables>
    <variables>
        <name>Current_PMT_Records</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PMT__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Last_Month_PMTs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PMT__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Prev_Month_PMTs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PMT__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_This_Month_PMTs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PMT__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_This_Month_PMTS_ISP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PMT__c</objectType>
    </variables>
    <variables>
        <name>EbsAccountReview</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>getrecordprevmonths</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PMT__c</objectType>
    </variables>
    <variables>
        <name>getrecordprevmonthss</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PMT__c</objectType>
    </variables>
    <variables>
        <name>NosAccountReview</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>NOSinitialAccountAudited</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>NosSumBalanceInputonAppointment</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>NOSSumPatientCallsCompleted</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>NOSSumPatientStatementsSent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>PatientCallsCompleted</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Sum_Balance_Input_on_Appointment</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Sum_EBS_Patient_Revenue_Posted</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Sum_Patient_Calls_Completed</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Sum_Patient_Statements_Sent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Sum_Pre_Service_Accounts_Audited</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SumNOSPatientRevenuePosted</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>totalPatientCallsCompleted</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varFilteredPMTs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PMT__c</objectType>
    </variables>
    <variables>
        <name>varMonth</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPtStSent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varSingAccAud</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varSingCompleteBreakdown</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varSingEligUpdates</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varSingErrNPU</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varSingErrPPL</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varsingleInitialAccountAudit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varSingMonTot</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varSingPtStSent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varSingTotalRev</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varSingUrgBreakdown</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varSingUrgElig</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varTotAccAud</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varTotalEligUpdates</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vartotalInitialAccountAudit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varTotalRev</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varTotCompleteBreakdowns</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varTotErrNPU</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varTotErrPPL</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varTotMonTot</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varTotUrgBreak</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varTotUrgElig</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varYear</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
