force-app/main/default/flows/Scheduled_Task_Flow_Daily_IVS_Tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Task_Owner_to_Account_Owner</name>
        <label>Assign Task Owner to Account Owner</label>
        <locationX>390</locationX>
        <locationY>624</locationY>
        <assignmentItems>
            <assignToReference>varTaskOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Service_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Owner_to_IVS_Owner</name>
        <label>Assign Task Owner to IVS Owner</label>
        <locationX>126</locationX>
        <locationY>624</locationY>
        <assignmentItems>
            <assignToReference>varTaskOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_IVS_Owner.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Service_Type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Service_Type</name>
        <label>Account Service Type</label>
        <locationX>258</locationX>
        <locationY>816</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IVS_AP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>IVS - AP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_IVS_Owner.TeamMemberRole</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>VBS Owner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Daily_Schedule_Completion_Task</targetReference>
            </connector>
            <label>IVS - AP</label>
        </rules>
        <rules>
            <name>IVS_NP_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>IVS - NP Only</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_IVS_Owner.TeamMemberRole</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>VBS Owner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Time_Sensitive_NPU_Entries_Task</targetReference>
            </connector>
            <label>IVS - NP Only</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Team_Member</name>
        <label>Found Team Member</label>
        <locationX>258</locationX>
        <locationY>516</locationY>
        <defaultConnector>
            <targetReference>Assign_Task_Owner_to_Account_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IVS_Team_Member_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_IVS_Owner.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_IVS_Owner.TeamMemberRole</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>VBS Owner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_Owner_to_IVS_Owner</targetReference>
            </connector>
            <label>IVS Team Member exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Weekday</name>
        <label>Weekday?</label>
        <locationX>500</locationX>
        <locationY>300</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fxWeekday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_IVS_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Creates daily tasks for IVS Accounts (Time Sensitive NPU Entries for all IVS types and Daily Schedule Completion for IVS - AP only)</description>
    <environments>Default</environments>
    <formulas>
        <name>fxDailyScheduleDescription</name>
        <dataType>String</dataType>
        <expression>&quot;Description- Action should be completed only after the work that has been done on the schedule has been fully completed and verified for accuracy.  **Stateside- double check to make sure that the schedule has been fully completed- entered into the software and double checked for accuracy.  Once double checked send the following message to the client and mark the card as complete - &apos; Your Insurance verifications are completed for (insert date completed), Please see the Pending Patient Log for any errors. Have a wonderful day!&apos;&quot;</expression>
    </formulas>
    <formulas>
        <name>fxTaskOwner</name>
        <dataType>String</dataType>
        <expression>If(
 isnull({!Get_IVS_Owner.Id}),
&quot;ownerid&quot;,
&quot;account team id&quot;)</expression>
    </formulas>
    <formulas>
        <name>fxTimeSensitiveNPUEntriesDescription</name>
        <dataType>String</dataType>
        <expression>&quot;Description:  Action should be completed at the very end of the workday, this serves as a reminder for a final double check on all action items on the Client’s NPU log.  **Stateside- double check to make sure that all priorities have been fully completed- entered into the software and double checked for accuracy on the breakdown form and software entry them move this card to completed status.&quot;</expression>
    </formulas>
    <formulas>
        <name>fxWeekday</name>
        <dataType>Boolean</dataType>
        <expression>IF(
 and(
  weekday({!$Flow.CurrentDate}) != 1,
  weekday({!$Flow.CurrentDate}) != 7
 ),
 true, false)</expression>
    </formulas>
    <interviewLabel>Scheduled Task Flow - IVS Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled Task Flow - Daily IVS Tasks</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Daily_Schedule_Completion_Task</name>
        <label>Create Daily Schedule Completion Task</label>
        <locationX>38</locationX>
        <locationY>924</locationY>
        <connector>
            <targetReference>Create_Time_Sensitive_NPU_Entries_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>fxDailyScheduleDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varTaskOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Daily Schedule Completion</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Time_Sensitive_NPU_Entries_Task</name>
        <label>Create Time Sensitive NPU Entries Task</label>
        <locationX>258</locationX>
        <locationY>1116</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>fxTimeSensitiveNPUEntriesDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varTaskOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Time Sensitive NPU Entries</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_IVS_Owner</name>
        <label>Get IVS Owner</label>
        <locationX>258</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Team_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IVS Owner</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>374</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Weekday</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Termination_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-10-02</startDate>
            <startTime>15:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>varTaskOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
