force-app/main/default/flows/Scheduled_Task_Flow_VBS_Monthly_Reports_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Task_Owner_to_Account_Owner</name>
        <label>Assign Task Owner to Account Owner</label>
        <locationX>314</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>varTaskOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Monthly_Reports_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Owner_to_VBS_Owner</name>
        <label>Assign Task Owner to VBS Owner</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>varTaskOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_VBS_Owner.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Monthly_Reports_Task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Team_Member</name>
        <label>Found Team Member</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>Assign_Task_Owner_to_Account_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VBS_Team_Member_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_VBS_Owner.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_Owner_to_VBS_Owner</targetReference>
            </connector>
            <label>VBS Team Member Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_the_last_day_of_the_month</name>
        <label>Is it the last day of the month?</label>
        <locationX>380</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fxLastDayMonth</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>VBS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_VBS_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fxComments</name>
        <dataType>String</dataType>
        <expression>&quot;Description - Monthly reminder to pull dashboard for this office and send over work completed for them for the month.  1.  Pull Dashboard statistics in Salesforce by filtering dates for the current month worked.  2.  Review the data to ensure that it is complete and error free. 3.  Attach Monthly Dashboard to the Monthly email OFT and email to the client&quot;</expression>
    </formulas>
    <formulas>
        <name>fxLastDayMonth</name>
        <dataType>Date</dataType>
        <expression>DATE(
YEAR(ADDMONTHS({!$Flow.CurrentDate},1)), 
MONTH(ADDMONTHS({!$Flow.CurrentDate},1)), 
1)-1</expression>
    </formulas>
    <formulas>
        <name>fxTaskOwner</name>
        <dataType>String</dataType>
        <expression>If(ISNULL({!Get_VBS_Owner.Id}), {!$Record.OwnerId}, {!Get_VBS_Owner.UserId})</expression>
    </formulas>
    <formulas>
        <name>fxWeekday</name>
        <dataType>Boolean</dataType>
        <expression>IF(
 and(
  weekday({!$Flow.CurrentDate}) != 1,
  weekday({!$Flow.CurrentDate}) != 7
 ),
 true, false)</expression>
    </formulas>
    <interviewLabel>Scheduled Task Flow - VBS Monthly Reports Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled Task Flow - VBS Monthly Reports Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Monthly_Reports_Task</name>
        <label>Create Monthly Reports Task</label>
        <locationX>182</locationX>
        <locationY>768</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>fxComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varTaskOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>VB: Monthly Reports</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_VBS_Owner</name>
        <label>Get VBS Owner</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Team_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VBS Owner</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_it_the_last_day_of_the_month</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Termination_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-10-31</startDate>
            <startTime>03:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varTaskOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
