force-app/main/default/flows/Update_Status_on_an_Existing_Claim_Delete_Duplicate_removed_phone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>record_exists</name>
        <label>record exists?</label>
        <locationX>719</locationX>
        <locationY>257</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_existing_claim_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>record_exisat</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <description>Removed phone # from RedTag created flow due to formatting issued not deleting duplicates.</description>
    <environments>Default</environments>
    <interviewLabel>Update Status on an Existing Claim &amp; Delete Duplicate (removed phone #) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Status on an Existing Claim &amp; Delete Duplicate (removed phone #)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>delete_duplicate</name>
        <label>delete duplicate</label>
        <locationX>1103</locationX>
        <locationY>251</locationY>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>get_existing_claim_record</name>
        <label>get existing claim record</label>
        <locationX>605</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>record_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patient_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Patient_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Claim_Amount__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Claim_Amount__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date_of_Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Date_of_Service__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subscriber_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Subscriber_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Insurance_Carrier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Insurance_Carrier__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dental_Office__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Dental_Office__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Claim__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>record_exisat</name>
        <label>record exisat</label>
        <locationX>917</locationX>
        <locationY>259</locationY>
        <connector>
            <targetReference>delete_duplicate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patient_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Patient_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Claim_Amount__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Claim_Amount__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date_of_Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Date_of_Service__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subscriber_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Subscriber_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Insurance_Carrier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Insurance_Carrier__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Patient_DOB__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Patient_DOB__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dental_Office__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Dental_Office__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Claim__c</object>
    </recordUpdates>
    <start>
        <locationX>101</locationX>
        <locationY>169</locationY>
        <object>Claim__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>get_existing_claim_record</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
